body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.hero-section {
    width: 100%;
    height: 300px;
    background-image: url('pictures/chess.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

.hero-text {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-align: center;
}

.container {
    width: 80%;
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.news-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.news-item {
    width: 48%;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.news-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.news-item h2 {
    color: #007bff;
    font-size: 20px;
    margin: 10px;
}

.news-item p {
    color: #666;
    font-size: 14px;
    margin: 10px;
}

.read-more {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #00b354;
}

.footer {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

